body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
.menu a, button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.menu a:hover, button:hover {
    background-color: #0056b3;
}
input {
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
}
#bookList, #borrowedBooks {
    margin-top: 20px;
    text-align: left;
}
.book-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.book-item button {
    margin-left: 20px;
}
